body {
    margin: 0;
    font-family: "Open Sans", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.graphiql-dark {
    background-color: #212a3b;
}

.graphiql-light {
    background-color: #fefefe;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input {
    font-family: "Open Sans", sans-serif !important;
}

button {
    border: none;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login h1 {
    font-family: "Open Sans", sans-serif !important;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.7em;
}


.login input {
    display: block;
    background: transparent;
    border: none;
    border-bottom: 2px solid #3a414e;
    color: rgba(255, 255, 255, 0.6);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    width: 15vw;
    text-align: center;
}

.login input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.3;
    /* Firefox */
    text-align: center;
    text-transform: uppercase;
}

.login input:focus {
    outline: none;
    border-bottom: 3px solid #233c4e;
}

.login button {
    background: #ff5794;
    color: rgb(255 255 255);
    padding: 1em;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    margin-top: 0.5em;
}

.login ul {
    list-style-type: none;
    display: block;
    margin-top: 0em;
    margin-bottom: 2em;
    font-size: 14px;
    color: #ff5794;
    padding: 0;
}


.graphiql-container {
    height: calc(100vh - 40px) !important;
}

.logout {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.logout button {
    background: #ff5794;
    color: rgb(255 255 255);
    height: 35px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 4px;
    margin-right: 1em;
    margin-top: 0.5em;
    cursor: pointer;
}

.logout h1 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    margin-left: 1em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #212a3b;
    }

    .login h1 {
        color: rgba(255, 255, 255, 0.6);
    }

    .logout h1 {
        color: rgba(255, 255, 255, 0.6);
    }

    .login button {
        background: #ff5794;
    }

    .login ul {
        color: #ff5794;
    }

    .login h1 {
        color: rgba(255, 255, 255, 0.6);
    }

    .logout button {
        background: #ff5794;
    }

    .login input {
        border-bottom: 2px solid #3a414e;
        color: rgba(255, 255, 255, 0.6);
    }

    .login input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(255, 255, 255, 0.6);
    }

    .login label {
        margin-bottom: 1em;
        display: block;
        color: rgb(255 255 255 / 28%);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    }

    .logout button,
    .login button {
        background: #d60590;
    }

    .login h1,
    .logout h1 {
        color: rgb(106 118 139);
    }

    .login input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(115, 118, 140);
    }

    .login input:focus {
        outline: none;
        border-bottom: 2px solid #a7adb1;
    }

    .login input {
        border-bottom: 2px solid rgb(226 228 232);
        color: rgb(99, 102, 128);
    }

    .login ul {
        color: #d60590;
    }
}